<div class="d-flex">
    <i id="back" class="bi bi-arrow-left ms-auto"></i>
</div>
<p class="text-center mt-2 mb-2">
    Hey, wenn du dein Passwort vergessen hast, ist das kein Problem.
    Gib einfach deine E-Mail Adresse unten ein und wir schicken dir
    einen Link zum Zurücksetzen deines Passworts. ;)
</p>
<div class="mb-3">
    <label for="email" class="form-label">E-Mail Adresse</label>
    <input type="text" id="email" class="form-control" placeholder="max@muster.de" required>
</div>
<div class="d-flex justify-content-center">
    <button id="request" type="button" class="btn btn-primary">Link anfordern</button>
</div>
<script>
    const email = document.getElementById("email")

    SOCKET.on('availability_response', (data) => {
        if (data.available)
            SOCKET.emit('forgot_query', {
                value: 'reset-link',
                data: email.value
            })
        else
            alert("Für diese E-Mail Adresse existiert kein Account.")
    })

    document.getElementById("request").addEventListener("click", () => {
        SOCKET.emit('availability_check', {
            type: 'email',
            value: email.value
        })
    })

    document.getElementById("back").addEventListener("click", () => {
        SOCKET.emit('back', 'login')
    })
</script>