<div class="mb-3">
    <label for="user" class="form-label">Nutzername oder E-Mail Adresse</label>
    <input type="text" id="user" name="user" class="form-control" placeholder="mustermax123 (max@muster.de)" value="{{ user }}" required>
</div>
<div class="mb-3">
    <label for="pass" class="form-label">Passwort</label>
    <div class="input-group">
        <input type="password" id="pass" name="psw" class="form-control" placeholder="************" aria-describedby="show_hide" required>
        <button class="btn btn-outline-secondary" type="button" id="show_hide">anzeigen</button>
    </div>
    <div class="d-flex justify-content-end">
        <span id="help" class="form-text psw-help">Passwort vergessen?</span>
    </div>
</div>
<div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" value="" id="remember">
    <label class="form-check-label" for="remember">
    Angemeldet bleiben
    </label>
</div>
<div class="d-flex justify-content-center">
    <button id="login" type="submit" class="btn btn-primary w-50">Anmelden</button>
</div>