{% extends "auth/base.html" %}
{% block title %}Anfrage erhalten{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/auth/resend_timer.js') }}"></script>
{% endblock %}
{% block form_content %}
    <p class="mb-4 text-center">
        Hey {{ user }}, deine Anfrage ist bei uns eingegangen und wir haben dir einen
        Link zum Zurücksetzen deines Passworts an {{ email }} geschickt.
        <br><br>
        Falls du keine E-Mail erhalten hast (und auch deinen Spam Ordner bereits
        überprüft hast), kannst du hier ganz entspannt eine neue anfordern:
    </p>
    <div class="d-flex justify-content-center">
        <button type="button" id="resend" class="btn btn-primary w-50" aria-describedby="hint">Erneut senden</button>
    </div>
    <div class="d-flex justify-content-center"><span class="form-text" id="hint"><span id="time">{{ time }}</span></span></div>
{% endblock %}