<form method="post" id="form">
    <div class="m-3">
        <div class="d-flex">
            <a id="profile_image">
                {% include "basic/account/profile_image.html" %}
            </a>
            <div class="d-flex flex-column align-self-center ml-3">
                <span id="img_name" class="mb-1">{{ user.img if user.img else 'Kein Bild vorhanden...' }}</span>
                <div class="d-flex">
                    <button type="button" class="btn btn-primary img-input-btn" onclick="document.getElementById('img_input').click()">Ändern</button>
                    <button id="del" type="button" class="btn btn-danger img-input-btn ml-3">Löschen</button>
                </div>
                <input id="img_input" type="file" class="img-input">
            </div>
            <div class="container" id="nav-container">
                <i id="back" class="bi bi-arrow-left float-end"></i>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center mt-3">
            <div class="row text-center">
                <div class="col">
                    <input type="text" id="first" class="form-control" value="{{ first }}" disabled>
                </div>
                <div class="col">
                    <input type="text" id="last" class="form-control" value="{{ last }}" disabled>
                </div>
            </div>
            <div class="mt-3">
                <div class="input-group">
                    <span class="input-group-text font-20" id="user-addon">@</span>
                    <input type="text" id="user" name="user" class="form-control" value="{{ username }}" aria-describedby="user-addon user-hint user-warn" required>
                </div>
                <span class="text-danger" id="user-warn" style="display: none">Dieser Benutzername ist schon vergeben.</span>
                <span class="form-text" id="user-hint"></span>
            </div>
            <div class="mt-3">
                <div class="input-group">
                    <span class="input-group-text" id="email-addon"><i class="bi bi-envelope font-16"></i></span>
                    <input type="text" id="email" name="email" class="form-control" value="{{ email }}" aria-describedby="email-addon email-warn email-hint" required>
                </div>
                <span class="text-danger" id="email-warn" style="display: none">Diese E-Mail Adresse ist bereits in Verwendung.</span>
                <span class="form-text" id="email-hint" style="display: none">
                    Vorübergehende Änderung, bitte bestätige deine E-Mail Adresse.
                    Falls du keine E-Mail erhalten hast, kannst du <span id='lock-time'></span>
                    <a id='resend' class="text-primary">hier</a> eine neue anfordern.
                </span>
            </div>
            <textarea id="info" name="info" class="form-control mt-3" placeholder="Erzähl etwas über dich..." rows="4">{{ info if info else ''}}</textarea>
            <div class="container mt-3">
                <button type="submit" id="send" class="btn btn-success float-end ml-3">Speichern</button>
                <button type="button" id="reset" class="btn btn-secondary float-end">Zurücksetzen</button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="edit_modal" tabindex="-1" aria-labelledby="imageEditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageEditModalLabel">Profilbild bearbeiten</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="d-flex flex-column align">
              <div id="previewContainer">
                  <img id="preview">
              </div>
              <div id="progress" class="flex-column align-items-center m-2" style="display: none;">
                  <progress id="progressBar" class="progress-bar" value="0" max="100"></progress>
                  <span id="progressText"></span>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <button id="upload" type="button" class="btn btn-primary">Speichern</button>
      </div>
    </div>
  </div>
</div>

<script>
    const img_input = document.getElementById("img_input")
    const img_preview = document.getElementById("preview")
    const previewContainer = document.getElementById("previewContainer")
    const progressContainer = document.getElementById("progress")
    const progressBar = document.getElementById("progressBar")
    const progressText = document.getElementById("progressText")
    const edit_modal = new bootstrap.Modal(document.getElementById('edit_modal'), {});
    let cropper
    const img_name = document.getElementById("img_name")
    const profile_img = document.getElementById("profile_image")

    const user = document.getElementById("user")
    const email = document.getElementById("email")
    const info = document.getElementById("info")

    const user_hint = document.getElementById("user-hint")
    const user_warn = document.getElementById("user-warn")
    const email_hint = document.getElementById("email-hint")
    const email_warn = document.getElementById("email-warn")

    const changeable = {{ changeable }}

    function username_edit_lock(lock = '{{ lock_days }}') {
        user_hint.textContent = `Du kannst deinen Benutzernamen in ${lock} Tagen wieder ändern.`
        user.disabled = true
    }

    if (changeable) {
        username_edit_lock()
    }

    const email_change = {{ email_change }}

    function onEmailChange(lock_time = null, process = null) {
        const timer = document.getElementById("lock-time")
        const resend = document.getElementById("resend")
        let time = {{ lock }}
        let pid = '{{ pid }}'

        if (lock_time)
            time = lock_time

        if (process)
            pid = process

        let locked = time > 0

        email.disabled = true
        email_hint.style.display = "block"

        function update() {
            if (time <= 0) {
                timer.textContent = ''
                return
            }
            timer.textContent = `in ${time.toString()} Sekunden`
        }

        update()

        function locktimer() {
            time--
            update()
            if (time <= 0) {
                locked = false
                clearInterval(interval)
            }
        }

        let interval = setInterval(locktimer, 1000)

        function onResetInfo(lockTime) {
            time = lockTime
            interval = setInterval(locktimer, 1000)
        }
        resendInfoEventHandler = onResetInfo

        resend.addEventListener("click", () => {
            if (locked)
                return

            resendMail(pid)
        })
    }

    if (email_change)
        onEmailChange()

    function onAvailabilityResponse(data) {
        if (data['available'] && data['type'] === 'username')
            user_warn.style.display = 'block'
        else if (data['available'])
            email_warn.style.display = 'block'
        else {
            user_warn.style.display = 'none'
            email_warn.style.display = 'none'
        }
    }
    availabilityResponseHandler = onAvailabilityResponse

    user.addEventListener("input", (e) => {
        const value = e.target.value

        if (value === '{{ username }}')
            return

        availabilityCheck({
            type: 'username',
            value: value
        })
    })

    email.addEventListener("input", (e) => {
        const value = e.target.value

        if (!value.includes('@')) {
            email_warn.style.display = 'none';
            return
        }

        availabilityCheck({
            type: 'email',
            value: value
        })
    })

    img_input.addEventListener("change", function (event) {
       const file = event.target.files[0]
       if (file && file.type.startsWith("image/")) {
           const reader = new FileReader()
           reader.onload = function (e) {
               img_preview.src = e.target.result

               edit_modal.show()

               setTimeout(() => {
                   if (cropper)
                       cropper.destroy()
                   cropper = new Cropper(img_preview, {
                       aspectRatio: 1,
                       viewMode: 1,
                       autoCropArea: 1,
                       background: false,
                       responsive: true,
                       scalable: true
                   })
               }, 200)
           }
           reader.readAsDataURL(file)
       } else
           img_name.textContent = "Ungültiges Dateiformat!"
    })

    function uploadImage() {
        cropper.getCroppedCanvas().toBlob((blob) => {
            const data = new FormData()
            data.append("img", blob, "{{ username }}.jpg")

            progressContainer.style.display = 'flex'
            previewContainer.style.display = 'none'

            function hideProgress() {
                progressContainer.style.display = 'none'
                previewContainer.style.display = 'block'
            }

            const xhr = new XMLHttpRequest()
            xhr.open('POST', '/edit', true)

            xhr.upload.addEventListener("progress", (event) => {
                if (event.lengthComputable) {
                    const completed = (event.loaded / event.total) * 100
                    progressBar.value = completed
                    progressText.textContent = `Bild wird hochgeladen: ${Math.round(completed)}%`
                }
            })

            xhr.addEventListener("load", () => {
                if (xhr.status === 200) {
                    edit_modal.hide()
                    img_name.textContent = "{{ username }}.jpg"
                    profile_img.innerHTML = xhr.responseText

                    hideProgress()
                } else {
                    progressText.textContent = `Fehler beim hochladen der Datei. (${xhr.status})`
                    setTimeout(hideProgress, 2500)
                }
            })

            xhr.addEventListener("error", () => {
                progressText.textContent = "Beim Hochladen der Datei ist ein Fehler aufgetreten."
                setTimeout(hideProgress, 2500)
            })

            xhr.send(data)
        })
    }
    document.getElementById("upload").addEventListener("click", uploadImage)

    function onDeletePP(html) {
        img_name.textContent = "Kein Bild vorhanden..."
        profile_img.innerHTML = html
    }
    deletePPEventHandler = onDeletePP

    function del() {
        if (!profile_img.querySelector("img"))
            return

        img_name.textContent = "Wird gelöscht..."
        deletePP()
    }
    document.getElementById("del").addEventListener("click", del)

    function onEditReset(data) {
        user.value = data['user']
        email.value = data['email']
        info.value = data['info']
    }
    editResetEventHandler = onEditReset
    document.getElementById("reset").addEventListener("click", resetEdit)

    function onProfileEdit(data) {
        if (data['user_hint']) {
            username_edit_lock(data['lock_user'])
            img_name.textContent = data['img']
        }

        if (data['email_hint']) {
            email_hint.style.display = "block"
            onEmailChange(data['lock_email'], data['pid'])
        }
    }
    profileEditEventHandler = onProfileEdit

    document.getElementById("form").addEventListener("submit", (event) => {
        event.preventDefault()

        const formData = new FormData(event.target)
        const json = {}

        formData.forEach((value, key) => {
            json[key] = value
        })

        editProfile(json)
    })

    document.getElementById("back").addEventListener("click", back)
</script>