.content-container {
    max-width: 650px;
    width: 100%;
    max-height: 80%;
}

.profile-initials {
    position: absolute;
    color: black;
}

.profile-details {
    padding-left: 15px;
}

.profile-name {
    margin-bottom: 0;
}

.profile-username {
    color: grey;
    margin-top: -5px;
}

.profile-info {
    padding-left: 1rem;
}

.img-input-btn {
    height: fit-content;
}

.img-input {
    display: none;
}

.font-16 {
    font-size: 16px !important;
}

.font-20 {
    font-size: 20px;
}

#edit_modal {
    will-change: transform;
}

#edit_modal .modal-dialog {
    width: 80vw;
    max-width: 600px;
}

#edit_modal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#preview {
    width: 90%;
    height: auto;
    object-fit: contain;
}

.settings-element {
    border-bottom: 1px solid grey;
}

.progress {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    height: auto;
    max-height: 80%;
    overflow-y: auto;
}

.form-label {
    font-size: 16px;
}

p {
    font-size: 15px;
}

.journal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    height: auto;
    max-height: 80%;
    overflow-y: auto;
    padding: 1rem;
}

.journal-entry {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.journal-entry p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
