{% extends "base.html" %}
{% block title %}Administration{% endblock %}
{% block style %}
    <link href="{{ url_for('static', filename='css/moderation.css') }}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/moderation/mod.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="mod-panel bg-white rounded shadow">
            <div class="headline-row">
                <span id="challenges" class="headline-col selected">Aufgaben</span>
                <span id="proves" class="headline-col middle">Beweise</span>
                <span id="reports" class="headline-col">Reports</span>
            </div>
            <div id="listContainer">
                {{ challenges }}
            </div>
        </div>
    </div>
{% endblock %}