{% extends "base.html" %}
{% block title %}404 - Not found{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/redirect.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="main-container">
            <h1>404 - Seite nicht gefunden</h1>
            <p>
                Hey mein Lieber, es ist schön dich hier zu sehen!
            Leider konnten wir für diese Adresse keine passende Seite finden...
            Vielleicht ist sie abgelaufen, wurde verschoben oder existiert gar nicht.<br><br>

            Wie dem auch sei, um dir das Leben einfacher zu machen, werden wir dich
            in <span id="time">6</span> Sekunden automatisch auf unsere Homepage weiterleiten.
            </p>
        </div>
    </div>
{% endblock %}