<div class="d-flex flex-column justify-content-center m-3">
    <div class="container">
        <i id="back" class="bi bi-arrow-left float-end"></i>
    </div>

    <div id="social-icons" class="d-flex justify-content-center mb-3">
        {{ socials }}
    </div>

    <div class="link-container">
        {{ links }}
    </div>
</div>
<script>
    const socials = document.getElementById("social-icons")

    function initSocials() {
        socials.querySelectorAll(".social-icon").forEach(icon => {
            icon.addEventListener("click", () => {
                icon.querySelector("#link").click()
            })
        })
    }

    document.getElementById("back").addEventListener("click", () => {
        fetch(window.location, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({value: 'profile'})
        }).then(res => res.text()).then(html => {
            container.innerHTML = html
            init()
        })
    })

    initSocials()
</script>