{% extends "base.html" %}
{% block title %}GrowVolution{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="main-container">
            <h1>Wartungsarbeiten</h1>
            <p>
                Hey, danke für dein Interesse hier vorbei zu schauen.
                Leider können wir unsere Seite aufgrund aktueller Entwicklungsarbeiten
                nicht uneingeschränkt zur Verfügung stellen. Du befindest dich in der
                Wartungsansicht. Schau gern zu einem späteren Zeitpunkt wieder vorbei.
                Vielen Dank für dein Verständnis!
            </p>
        </div>
    </div>
{% endblock %}