{% extends "base.html" %}
{% block title %}Über uns{% endblock %}
{% block content %}
    <div class="container text-justify info-container mt-4 mb-3">
        <h2><b>Das ist GrowVolution</b></h2>
        <p class="mt-2">
            Die GrowVolution wurde ins Leben gerufen, um einen Wandel in der Welt zu bewirken.
            Es gibt unfassbar viele Baustellen und Herausforderungen, denen wir uns dringend
            widmen sollten. Sie zu zählen wäre unmöglich, aber es ist klar, dass sie bei dem
            Einen oder Anderen eine gewisse Unzufriedenheit mit dem Status quo hervorrufen.
            So erging es auch unserem Gründer, weshalb er sich auf die Suche nach einer Lösung
            für all die Probleme dieser Welt begeben hat. Bis er zu der Erkenntnis gelangte,
            dass wir niemals alle Umstände für jeden Menschen gleichermaßen gerecht und auch
            zufriedenstellend anpassen können. Irgendjemand muss auf Kosten einer bestimmten
            Idee (unwichtig welcher Natur sie ist oder was sie bewirken soll) immer Abstriche
            machen. Also hat er den Versuch, alle unter einen Hut zu kriegen beziehungsweise
            eine universelle Lösung zu finden, aufgegeben. Stattdessen hat er sich die Frage
            gestellt, wie er selbst mit seinem eigenen Frust umgehen kann und für sich ein
            erstrebenswertes Leben leben kann. Wie genau das für ihn aussieht, das steht auf
            einem ganz anderen Blatt geschrieben. Wichtig ist, dass ihm auf dieser Reise ein
            neuer Gedanke kam: Was wäre, wenn immer mehr Menschen diesen Weg einschlagen?
            Wenn plötzlich das eigene Leben für sie Priorität Nummer 1 wäre und sie anfangen
            würden ihre bisherige Lebensweise aus anderen Blickwinkeln zu betrachten? Dabei
            hat er festgestellt, dass die ersehnte Veränderung vielleicht bei jedem Einzelnen
            ihren individuellen Anfang nimmt und sich dann eher als eine Konsequenz dessen
            auf das globale Geschehen auswirkt.<br><br>
            Basierend auf dieser Erkenntnis entstand die Vision der <b>GrowVolution</b>. Ein
            von der breiten Masse ausgehender Wandel (Re<i>volution</i>), ausgelöst durch das
            ganz persönliche Wachstum vieler verschiedener Menschen (<i>Grow</i>th).<br><br>
            Daraus ergibt sich nun auch die Mission des Gründers und dieser Seite. Er möchte
            Andere in ihren Zielen unterstüten und ihre Entwicklung voranbringen. Indem er eine
            Plattform schafft, welche genau auf diese Aspekte den Fokus legt und gleichzeitig
            eine Community bietet, die sich gegenseitig fördert, sowie fordert. Durch einen
            gesunden Wettbewerb sollen die Nutzer zu herausragenden Leistungen inspiriert werden,
            während sie kontinuierlich an ihren Zielen arbeiten und möglicherweise sogar neue
            Lebensweisen entwickeln. Außerdem soll diese Seite nicht durch Algorithmen und
            andere Tricks dazu führen, dass der Besucher mehr Zeit als nötig darauf verbringt.
            Sondern sie soll ganz im Gegenteil dazu motivieren, dass er achtsam mit seiner
            Zeit umgeht und mehr davon in der realen Welt verbringt.<br><br>
            Wenn du dich also von dem Gedanken der GrowVolution angesprochen fühlst und
            bereit bist neue Wege für dein Leben einzuschlagen, dann freuen wir uns natürlich
            dich bald als ein festes Mitglied unserer Community auf dieser Seite begrüßen
            zu dürfen.<br><br>Alles Liebe und danke für deine Aufmerksamkeit!
        </p>
    </div>
{% endblock %}