{% extends "base.html" %}
{% block title %}Richtlinien{% endblock %}
{% block content %}
    <div class="container text-justify info-container mt-4 mb-3">
        <h2><b>Richtlinien</b></h2>
        <p class="mt-2">
            Hey mein Lieber, danke dass du dich mit unseren Richtlinien vertraut
            machst!<br><br>
            Wir wollen ganz ehrlich mit dir sein: Eigentlich sind wir sehr große
            Freunde vom Raum zur freien Entfaltung. Nur leider hat die Erfahrung
            gezeigt, dass es manchmal zumindest ein bisschen Ordnung braucht, damit
            das Miteinander annährend reibungslos verlaufen kann. Deshalb haben wir
            uns bemüht einen Kompromiss zwischen deiner Freiheit und unser aller
            Sicherheit, sowie Wohlbefinden auszumachen. Dabei haben wir entschieden,
            dass wir dir lediglich unsere wichtigsten Werte für die Interaktion auf
            dieser Seite mit an die Hand geben werden, damit du einen Leitfaden hast
            und in eigener Verantwortung entscheiden kannst wie ein angemessener
            Umgang auf dieser Grundlage aussehen könnte. Bitte beachte, dass jeder
            von uns seine Grenzen an anderen Stellen zieht und du deshalb immer
            auch auf andere Nutzer achten solltest. Umgekehrt darfst und sollst du
            jedoch auch deine eigenen Grenzen klar kommunizieren, damit die Anderen
            darauf Rücksicht nehmen können. Außerdem werden wir die Nutzung unserer
            Seite angemessen moderieren und nehmen selbstverständlich auch deine
            Hinweise auf unangemessenes Handeln gerne an.<br><br>
            Wir möchten dich nur um eines bitten, was für das gemeinsame Wachstum
            sehr nützlich ist: Verzichte gänzlich auf Beleidigungen, Kraftausdrücke
            und andere Formen der Gewalt in deiner Sprache (auch zum Spaß).<br><br>
            Und nur noch ein kleiner Hinweis: Solltest du gegen geltendes
            Recht verstoßen sind wir zu unserer eigenen Sicherheit auch bereit die
            Behörden einzuschalten.<br><br>
            So damit aber auch genug Kontext, folgende Werte gelten auf unserer Seite:
        </p>
        <ol>
            <li>Liebe (die universelle Form)</li>
            <li>Wachstum (persönlich und gemeinsam)</li>
            <li>Respekt</li>
            <li>Emphatie</li>
            <li>Verantwortung</li>
            <li>Zusammenhalt und Solidarität</li>
        </ol>
    </div>
{% endblock %}