{% extends "base.html" %}
{% block title %}Impressum{% endblock %}
{% block content %}
    <div class="container info-container mt-4 mb-3">
        <h2><b>Impressum</b></h2>
        <p class="mt-2 mb-4">
            Verantwortlich für den Inhalt dieser Seite ist:
        </p>
        <address>
            <i>
                Pierre Schkoldow<br>
                Bingerhof 13<br>
                99734 Nordhausen<br><br>
                +49 174 5881313<br>
                pierre@growvolution.org
            </i>
        </address>
        <p>
            Der Entwickler haftet als Privatperson.
        </p>
    </div>
{% endblock %}